{% extends "base.html"%}
{% block content %}
    <div>
      Did you know that electricity companies reward you for being energy
      efficient? Ask us how
    </div>
    <footer>
      <ul class="footer">
        <li><a href="Index.html">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Site Map</a></li>
        <li><a href="#">Agreement</a></li>
        <li>
          <a
            class="fab fa-instagram"
            href="https://www.instagram.com/interim_core/?hl=en"
          ></a>
        </li>
      </ul>
    </footer>
  </body>
  {% endblock %}
