{% extends "base.html"%}
{% block content %}
    <p class="quote">
      Add needed services to the cart and send us a request for a quote
    </p>
    <div class="products">
      <div class="service-card">
        {% load static %} <img src="{% static "images/khen.png" %}" alt="owner!" class="profile-pic" />
        <h2>TV Mounting</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque,
          voluptas?
        </p>
        <a href="{% url 'checkout' %}"><button type="button" class="fas fa-cart-arrow-down"></button></a> 
      </div>
      <div class="service-card">
        {% load static %} <img src="{% static "images/khen.png" %}" alt="owner!" class="profile-pic" />
        <h2>CCTV Installation</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <a href="{% url 'checkout' %}"><button type="button" class="fas fa-cart-arrow-down"></button></a> 
      </div>
      <div class="service-card">
        {% load static %} <img src="{% static "images/khen.png" %}" alt="owner!" class="profile-pic" />
        <h2>Structured Cabling</h2>
        <p>Lorem ipsum dolor sit amet.</p>
        <a href="{% url 'checkout' %}"><button type="button" class="fas fa-cart-arrow-down"></button></a> 
      </div>
      <div class="service-card">
        {% load static %} <img src="{% static "images/khen.png" %}" alt="owner!" class="profile-pic" />
        <h2>Networking</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, modi?
        </p>
        <a href="{% url 'checkout' %}"><button type="button" class="fas fa-cart-arrow-down"></button></a> 
      </div>
      <div class="service-card">
        {% load static %} <img src="{% static "images/khen.png" %}" alt="owner!" class="profile-pic" />
        <h2>Smart Home</h2>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
        <a href="{% url 'checkout' %}"><button type="button" class="fas fa-cart-arrow-down"></button></a> 
      </div>
      <div class="service-card">
        {% load static %} <img src="{% static "images/khen.png" %}" alt="owner!" class="profile-pic" />
        <h2>Access Control</h2>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
        <a href="{% url 'checkout' %}"><button type="button" class="fas fa-cart-arrow-down"></button></a> 
      </div>
    </div>
    <footer>
      <footer>
        <ul class="footer">
          <li><a href="Index.html">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Site Map</a></li>
          <li><a href="#">Agreement</a></li>
          <li>
            <a
              class="fab fa-instagram"
              href="https://www.instagram.com/interim_core/?hl=en"
            ></a>
          </li>
        </ul>
      </footer>
  </body>
  {% endblock %}
