{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'start.css' %}" />
    <script src="home.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <title>Interim Core Home</title>
    <!-- favicon -->
    <link rel="icon" href="images/interim.png" />
  </head>
  <body>
    <header class="header">
        {% load static %} <a href="Index.html"></a> <img src="{% static "images/interim.png" %}" alt="owner!" class="logo" /></a>
     <!-- <a href="Index.html"> <img class="logo" src="images/interim.png" alt="interim core logo" /></a> -->
      <!-- <nav id="nav"> -->
      <ul class="navbar">
        <li><a href="{% url 'home.page'%}">Home</a></li>
        <li><a href="{% url 'int.services'%}">Services</a></li>
        <li><a href="{% url 'int.products'%}">Products</a></li>
      </ul>
      <!-- </nav> -->
      <a class="cta" href="{% url 'int.contact'%}"><button>Contact Us</button></a>
      <a id="cart" href="#" class="fas fa-shopping-cart"></a><br>
      
      
    </header>
    <body>
        {% block content %}
        {% endblock %}
    </body>
    </html>